body {
    text-align: center;
    background-repeat: no-repeat;
    height: 1000px;
}

#w.h.o.s {
    position: absolute;
    height: 200px;
    width: 200px;
}

#my-character {
    padding: 20px;
    font-size: 18;
    text-align: center;
    background: linear-gradient(red 0%, blue 100%);
    padding-top: 80px;
}

#about {
    background: linear-gradient(blue 0%, yellow 100%)
}

#c-review {
    background: linear-gradient(yellow 0%, azure 100%)
}

#games {
    background: linear-gradient(azure 0%, green 100%)
}

#abilities {
    background: linear-gradient(green 0%, crimson 100%)
}

#videos {
    background: linear-gradient(crimson 0%, deeppink 100%)
}

#Inspiration {
    background: linear-gradient(deeppink 0%, firebrick 100%)
}

#contact {
    background: linear-gradient(firebrick 0%, darkred 50%, black 100%)
}

#contact iframe {
    width: 100%;
}

#contact a {
    color: chartreuse;
}

#contact img {
    float: none;
    position: static;
    height: 50px;
    width: 50px;
}

.contact_1 h3 {
    display: inline;
}

#design-of-h1 {
    text-shadow: 2px 2px #1976D2;
    font-size: 20px;
    vertical-align: middle;
}

#line-design {
    display: table-cell;
    position: relative;
    text-align: center vertical-align: middle;
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}

img {
    border-radius: 30%;
    width: 150px;
    transition: transform .2s;
}

p {
    font-family: monospace;
    font-size: 20px;
    color: chartreuse;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    background-color: darkgoldenrod;
    width: 100%;
    margin-top: 0px;
    top: 0px;
}

.links {
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    color: darkblue;
}

.links:hover {
    background-color: deepskyblue;
    color: firebrick;
}

img:hover {
    transform: scale(0.9)
}

#height {
    height: 100px;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: chartreuse;
}